*{
    margin:0;
    padding:0;
}

.messages-div{
    width: 3000px;
}
.messages-container{
    height: 80vh;
    overflow: auto;
    width: 3000px;

}


.input-group{
    position: absolute;
    bottom: 0;
    width: 95vw;

}

.container-card{
    width:3000rem;
    margin:10px;
}

.edit-group{
    width:3000px;

}